<section class="info-container info-container-highlights">
  <h5 class="container-title">Today's Highlights</h5>
  <div class="highlights-boxes-container">
    <div class="info-box">
      <h5 class="title">Wind Status</h5>
      <div class="main-content-wrapper">
        <h2>
          {{ windSpeed }}
          <span>
            {{ speedUnit }}
          </span>
        </h2>
      </div>
      <h5>{{ windDirectionText![windDir] }}</h5>
    </div>
    <div class="info-box">
      <h5 class="title">UV Index</h5>
      <div class="semicircles-container">
        <div class="semicircle ranges-semicircle"></div>
        <div class="semicircle white-semicircle"></div>

        <div class="horizontal-centered-container numbers-container">
          <p [ngClass]="{ 'active-number': uvNumber === 0 }">0</p>
          <p [ngClass]="{ 'active-number': uvNumber === 2 }">2</p>
          <p [ngClass]="{ 'active-number': uvNumber === 4 }">4</p>
          <p [ngClass]="{ 'active-number': uvNumber === 6 }">6</p>
          <p [ngClass]="{ 'active-number': uvNumber === 8 }">8</p>
          <p [ngClass]="{ 'active-number': uvNumber === 10 }">10</p>
          <p [ngClass]="{ 'active-number': uvNumber === 12 }">12</p>
        </div>
      </div>
      <h5>{{ uvNumber }}: {{ uvText }}</h5>
    </div>
    <div class="info-box">
      <h5 class="title">Sunrise & Sunset</h5>
      <div class="semicircles-container2">
        <div class="semicircle dashed-semicircle"></div>
        <div class="semicircle-base"></div>
        <div class="semicircle-base"></div>
        <i-feather
          name="sun"
          class="sun-icon sun-icon-indicator"
          [style.transform]="
            'translate(' +
            sunCoordinates[dayTimePercent].x +
            'px, ' +
            sunCoordinates[dayTimePercent].y +
            'px)'
          "
        ></i-feather>
      </div>
      <div class="horizontal-spaced-container">
        <div class="vertical-left-aligned-container">
          <i-feather name="sunrise" class="sun-icon sun-icon-left"></i-feather>
          <h6>Sunrise</h6>
          <h5>{{ sunrise }}</h5>
        </div>
        <div class="vertical-right-aligned-container">
          <i-feather name="sunset" class="sun-icon sun-icon-right"></i-feather>
          <h6>Sunset</h6>
          <h5>{{ sunset }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="highlights-boxes-container">
    <div class="info-box mini-info-box">
      <h6 class="title">Humidity</h6>
      <div class="horizontal-left-aligned-container">
        <i-feather name="droplet" class="mini-box-icon"></i-feather>
        <h3>{{ humidity }}<span> %</span></h3>
      </div>
    </div>
    <div class="info-box mini-info-box">
      <h6 class="title">Visibility</h6>
      <div class="horizontal-left-aligned-container">
        <i-feather name="eye" class="mini-box-icon"></i-feather>
        <h3>
          {{ visibility }}<span> {{ visibilityUnit }}</span>
        </h3>
      </div>
    </div>
    <div class="info-box mini-info-box">
      <h6 class="title">Feels Like</h6>
      <div class="horizontal-left-aligned-container">
        <i-feather name="thermometer" class="mini-box-icon"></i-feather>

        <h3>{{ feelsLike }}°</h3>
      </div>
    </div>
  </div>
</section>
