<main>
  <app-current-weather
    [temp]="currentWeather![tempElement]"
    [tempUnit]="tempUnit"
    [weatherText]="currentWeather!.condition.text"
    [weatherIcon]="currentWeather!.condition.icon"
    [cityName]="location!.name"
    [weatherCode]="currentWeather!.condition.code"
    [isDay]="currentWeather!.is_day"
  ></app-current-weather>
  <app-current-highlights
    [speedUnit]="speedUnit"
    [windSpeed]="currentWeather![speedElement]"
    [windDir]="currentWeather!.wind_dir"
    [humidity]="currentWeather!.humidity"
    [uv]="currentWeather!.uv"
  >
  </app-current-highlights>
</main>
