<main>
  <div
    *ngIf="requestStatus === 'success'"
    class="horizontal-centered-container current-info-wrapper"
  >
    <app-current-weather
      [temp]="currentWeather[tempElement]"
      [tempUnit]="tempUnit"
      [maxTemp]="forecastedWeather[0].day[maxTempElement]"
      [minTemp]="forecastedWeather[0].day[minTempElement]"
      [weatherText]="currentWeather.condition.text"
      [weatherIcon]="currentWeather.condition.icon"
      [cityName]="location.name"
      [weatherCode]="currentWeather.condition.code"
      [isDay]="currentWeather.is_day"
    ></app-current-weather>
    <app-current-highlights
      [speedUnit]="speedUnit"
      [windSpeed]="currentWeather[speedElement]"
      [windDir]="currentWeather.wind_dir"
      [humidity]="currentWeather.humidity"
      [uvNumber]="currentWeather.uv"
      [sunrise]="forecastedWeather[0].astro.sunrise"
      [sunset]="forecastedWeather[0].astro.sunset"
    >
    </app-current-highlights>
  </div>
</main>
