<header>
  <div class="wrapper">
    <div class="horizontal-centered-container wrappable">
      <div class="input-wrapper header-element">
        <input
          type="search"
          placeholder="Search for a location"
          [value]="location"
          (input)="handleSearchBoxInput($event)"
        />
        <i-feather name="map-pin" class="location-icon"></i-feather>
        <div *ngIf="results.length" class="search-results">
          <div *ngFor="let item of results">
            <h5>{{ item.name }}, {{ item.region }}, {{ item.country }}</h5>
          </div>
        </div>
      </div>
      <div class="horizontal-centered-container header-element">
        <i-feather name="clock" class="icon"></i-feather>
        <h5>
          {{ dateTime | async | date }}
          <b> {{ dateTime | async | date : "shortTime" }}</b>
        </h5>
      </div>
    </div>
    <div class="horizontal-centered-container">
      <div class="horizontal-centered-container">
        <h5>°C</h5>
        <div class="radio-button-body" (click)="handleTempUnitToggle()">
          <div
            class="radio-button-pointer"
            [ngClass]="{ off: tempUnit === 'C', on: tempUnit === 'F' }"
          ></div>
        </div>
        <h5>°F</h5>
      </div>
      <h5 class="vertical-divider">|</h5>
      <div class="horizontal-centered-container">
        <h5>KM</h5>
        <div class="radio-button-body" (click)="handleSpeedUnitToggle()">
          <div
            class="radio-button-pointer"
            [ngClass]="{ off: speedUnit === 'km/h', on: speedUnit === 'mi/h' }"
          ></div>
        </div>
        <h5>MI</h5>
      </div>
    </div>
  </div>
</header>
