@use "colors";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  padding: 0px;
}

.morning-bg {
  background-color: colors.$morning-sky;
}
.night-bg {
  background-color: colors.$night-sky;
}
