.divider {
  border-top: solid 0.5px rgba(255, 255, 255, 0.2);
  width: 85%;
  margin: 16px 0px;
}

h4 {
  margin-top: 8px;
}

.location-time-container {
  .horizontal-centered-container {
    margin-bottom: 8px;
  }
}
