<section class="vertical-centered-container info-container">
  <h1>
    {{ temp | number : "1.0-0" }}<sup>°{{ tempUnit }}</sup>
  </h1>
  <div class="horizontal-centered-container">
    <img [src]="iconPath" width="36px" height="36px" />
    <h3>{{ weatherText }}</h3>
  </div>
  <h4>H: {{ maxTemp }}° L: {{ minTemp }}°</h4>
  <div class="divider"></div>
  <div class="vertical-left-aligned-container location-time-container">
    <div class="horizontal-centered-container">
      <i-feather name="map-pin" class="icon"></i-feather>

      <h5>{{ city }}, {{ country }}</h5>
    </div>
    <div class="horizontal-centered-container">
      <i-feather name="clock" class="icon"></i-feather>

      <h5>
        {{ dateTime | async | date }}
        <b> {{ dateTime | async | date : "shortTime" }}</b>
      </h5>
    </div>
  </div>
</section>
